* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 64px 165px 0 165px;
    align-items: center;
}

header {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32px;
}

header ul {
    display: flex;
    width: 340px;
    justify-content: space-between;
    list-style-type: none;

}

.apresentacao {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.imagem {
    
    width: 1110px;
    height: 600px;
    background-image: url("/assets/home/image-homepage-hero.jpg");
    background-size: cover;
}

.cartao .texto {
    width: 390px;
    height: 200px;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
    margin-left: 27px;
    margin-bottom: 53px;
}

.cartao {
    width: 445px;
    height: 357px;
    margin-top: 243px;
    padding: 56px 0px 0 0px;
    background-color: white;
}

.apresentacao button {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 200px;
    height: 48px;
    cursor: pointer;
    background: #203A4C;
}

.icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    mix-blend-mode: normal;
    background-color: black;
    opacity: 0.1;    
}

.cartao .link {
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.apresentacao button:hover {
    background-color: #5FB4A2;
}

header a {
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    text-decoration: none;
}

header a:focus {
    color: #5FB4A2;
}

header a:hover {
    color: #5FB4A2;
}

.link a {
    color: #5FB4A2;
}

.foto img {
    width: 540px;
    height: 600px;
    margin-right: 140px;
}

.sobre {
    display: flex;
}

.sobre .texto {
    width: 430px;
    height: 601px;
}

.sobre .linha1 {
    margin-bottom: 50px;
     width: 430px;
    height: 1px;
    background: #33323D;
    opacity: 0.15; 
}

.sobre h1 {
    margin-bottom: 28px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;   
    color: #33323D;
}

.sobre button {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 204px;
    height: 48px;
    border: 1px solid #33323D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 113px;
    margin-bottom: 15px;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    cursor: pointer;
}

.sobre p {
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 24px;
}

.sobre .linha2 {
    width: 430px;
    height: 1px;
    background: #33323D;
    opacity: 0.15;
}

.contato {   
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
}

.contato button {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 168px;
    height: 48px;
    border: 1px solid #33323D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #33323D;
    cursor: pointer;
}

.contato h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;  
    letter-spacing: -0.357143px;   
    color: #33323D;
    width: 367px;
}

footer {
    display: flex;
    background: #33323D;
    width: 1440px;
    height: 80px;
    padding: 0 165px;
}


footer nav a {   
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer li {
    list-style-type: none;
}

footer ul{
    display: flex;
    justify-content: space-between;
    width: 309px;
    margin-left: 48px;
    margin-right: 590px;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 104px;
}

.redespai {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img1 {
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.img2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.apresentacao p {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
}

.sobre button:hover {
    font-family: 'Public Sans', sans-serif;
    background: #33323D;
    color: #FAFAFA;
    font-weight: 100;
}

.contato button:hover {
    font-family: 'Public Sans', sans-serif;
    background: #33323D;
    color: #FAFAFA;
    font-weight: 100;
}

.apresentacao a {
    padding: 17px 33px ;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.sobre a {
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    padding: 17px 26px;
}

.sobre a:hover {
    font-family: 'Public Sans', sans-serif;
    color: #FAFAFA;
    font-weight: 100;
}

.contato a {
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #33323D;
    padding: 17px 50px;
}

.contato a:hover {
    font-family: 'Public Sans', sans-serif;
    color: #FAFAFA;
    font-weight: 100;
}